services:
  bank-consolidation:  
    hostname: bank-consolidation-service
    build:
      context: .
      dockerfile: bank-consolidation.dockerfile
    restart: always
    ports:
      - 8585:8080
    deploy:
      replicas: 1
      mode: replicated
    networks:
      - abss-network
    environment:
      READ_DSN: "bankc:sUr1kX!YVbOqV@CX@tcp(mariadb-master)/bank-consolidation?charset=utf8&parseTime=true&loc=Local"
      WRITE_DSN: "bankc:sUr1kX!YVbOqV@CX@tcp(mariadb-master)/bank-consolidation?charset=utf8&parseTime=true&loc=Local"
      SEED_DEV: "1"
    volumes:
      - .:/app

networks:
  abss-network:
    driver: bridge
    external: true  
